.common-input-container {
    .common-input-pre-label {
        margin: 0;
        padding: 0 0 5px 5px;
        font-size: 14px;
    }

    .common-input-field {
        width: 100%;

        .Mui-disabled {
            &::before {
                border-bottom-style: solid !important;
            }
        }

        .MuiInputBase-root {
            &:hover {
                fieldset {
                    border-color: rgba(0, 0, 0, 0.23) !important;
                }
            }
        }

        .error-msg {
            color: red;
        }
    }
}